.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.profile-pic {
  float: right; /* Float the image to the left */
  border-radius: 50%; /* To make it round */
  max-width: 100%; /* Ensures the image is responsive and doesn't overflow its container */
  width: 400px; /* Fixed width, adjust as necessary */
  height: auto; /* Keeps the aspect ratio of the image */
  /* The margin-right and margin-bottom create spacing between the image and the text */
  margin-top: 1%;
  margin-left: 5%;
}

